scripts/*
!scripts/changelog.py
!scripts/edit_releases.py
!scripts/modify_version_for_nightly.py

.run/*
!.run/Build.run.xml
!.run/Run Plugin.run.xml
!.run/Run Tests.run.xml
!.run/Run Verifications.run.xml

TODO.md
.credentials/

.venv/
.sources/
site/

pyrightconfig.json
ruff.toml

### Generated ###
.gradle/
.kotlin/
.intellijPlatform/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/**
!.idea/gradle.xml
!.idea/icon.svg
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
