# GitHub Actions Workflow created for handling the release process based on the draft release prepared with the Build workflow.
# Running the publishPlugin task requires all following secrets to be provided: PUBLISH_TOKEN, PRIVATE_KEY, PRIVATE_KEY_PASSWORD, CERTIFICATE_CHAIN.
# See https://plugins.jetbrains.com/docs/intellij/plugin-signing.html for more information.

name: Publish

on:
  release:
    types:
      - released

jobs:
  release:
    name: Publish
    runs-on: ubuntu-latest
    environment: publish
    
    if: github.event.release.tag_name != 'v0.1.0'
    
    steps:
      -
        name: Fetch sources
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}
      -
        name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17
      -
        name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-home-cache-cleanup: true
      -
        name: Publish plugin to Marketplace
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
          CERTIFICATE_CHAIN: ${{ secrets.CERTIFICATE_CHAIN }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          PRIVATE_KEY_PASSWORD: ${{ secrets.PRIVATE_KEY_PASSWORD }}
        run: |
          ./gradlew publishPlugin
